*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav .logo{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    color:#fff;
    font-weight: 600;  
    transition: 0.5s; 
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
.content a{
   text-decoration: none; 
   display: inline-block;
   color: #fff;
   font-size: 24px;
   border: 2px solid #fff;
   padding: 14px 70px;
   border-radius: 50px;
   margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    }
/* this part is about me block */

.about-wrapper{
    height: 100vh;
}
.about-left{
    background: rgb(112, 81, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: plum;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 202px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 202px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{

    position: absolute;
    background: rgba(0,0,0,0.6);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-radius: 2px;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: plum;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: rgb(112, 81, 112);
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: ivory;
    color: black;
}
.about-right{
    background: #c99bdbfd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: rgb(112, 81, 112);
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
   background:rgb(112, 81, 112); 
   color: #fff;
   border-color: rgb(112, 81, 112);
   transition: all 0.5s ease-in-out;
}
.btn.btn-pink a{
    text-decoration: none;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: rgb(112, 81, 112);
    color: #eee
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white a{
    text-decoration: none;
}
.btn.btn-white:hover{
    background: rgb(112, 81, 112);
    border-color: rgb(112, 81, 112);
    color: #fff;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

/* this is for gallery */
.g-body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: teko;
    background: rgb(76, 87, 122);
    width: 100%;
    min-height: 100vh;
}
.gallery-wrapper{
   width: 80%;
   padding: 30px 0;
   text-align: center;
}
.section-header{
    text-transform: uppercase;
    padding-bottom: 30px;
    font-size: 55px;
    color: #262626;
    letter-spacing: 3px;
}
.content{
    padding: 10%;
}
.content h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.contentp{
    line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-row-gap: 25px;
    grid-column-gap: 25px;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
    height: 250px;
    overflow: hidden;
}
.main-content .box::before{
    position: absolute;
    top:0;
    left: 0;
    width: 5px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.main-content .box:hover::before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 8;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition: all 0.5s ease-in-out;
    color:rgb(112, 81, 112);
}
.main-content .box .img-text a{
    color:rgb(112, 81, 112);
}
.main-content .box:hover .img-text{
    top:0;
    right:0;
}

/* this is for contact */

.contact-section{
    min-height: 100vh;
    width: 100%;
    background: #1d5e3f;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .c-container{
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .c-container .c-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .c-container .c-content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .c-content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .c-content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .c-content .left-side .details i{
    font-size: 30px;
    color: #337054;
    margin-bottom: 10px;
  }
  .c-content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .c-content.left-side .details .text-one,
  .c-content .left-side .details .text-two{
    font-size: 14px;
    color: #337054;
  }
  .c-container .c-content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .c-content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #337054;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .btn-c{
    transition: all 0.5s ease-in-out;
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
    background:#337054; 
    color: #fff;
    border-color: #337054;
}
.btn-c a{
    text-decoration: none;
    
}

/*fooooooter*/

.footer {
    padding: 40px 0;
    background-color: #ffffff;
  }
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
  }
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  .footer .social a:hover {
    opacity: 0.9;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  .footer ul a:hover {
    opacity: 1;
  }
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }



  
  @media (max-width: 950px) {
    .c-container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .c-container .c-content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .c-container{
      margin: 40px 0;
      height: 100%;
    }
    .c-container .c-content{
      flex-direction: column-reverse;
    }
   .c-container .c-content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .c-container .c-content.left-side::before{
     display: none;
   }
   .c-container .c-content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  



    @media (min-aspect-ration: 16/9){
        .back-video{
            width: 100%;
            height: auto;
        }
    }
    @media (max-aspect-ration: 16/9){
        .back-video{
            width: auto;
            height: 100%;
        }
    }

    @media screen and (min-width: 992px){
        .about-wrapper{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .about-left{
            position: relative;
        }
        .about-left-content{
            position: absolute;
            right: -50px;
        }

    }